#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.card {
  padding: 2em;
}


.page-title {
  color: #fff6c3; /* Deep purple */
  font-size: 26px;
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
.btn-reset {
  padding: 5px 10px;
  font-size: 16px !important;
  background-color: #fff6c3;
  color: #241313;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-box:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px #00bcd4;
}